<a href="/glossary/definition/{{id}}">
    <div class="my-8 panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">{{term}}</h4>
        </div>
        <div class="panel-body">
            <p style="color: gray;">{{meaning}}</p>
        </div>
    </div>
</a>