<h2>Word/Phrase:</h2>
{{term}}

<h2>Meaning:</h2>
{{meaning}}

<h2>Related Terms:</h2>
{{#each relatedTerms}}
{{this}},
{{/each}}

<h2>Links:</h2>
{{#each links}}
{{>link_partial this}}
{{/each}}

<form method="POST" action="/glossary/definition/{{id}}/delete">
    <button type="submit">Delete</button>
</form>