{{>base_layout}}

{{#*inline "page_title"}}
Add Definition
{{/inline}}

{{#*inline "body"}}
<form class="form-horizontal lg:mr-56" method="POST" action="/glossary/add">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="term">Term</label>
    <div class="col-sm-10">
      <input class="form-control" id="term" type="text" name="term" placeholder="Term" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="meaning">Definition</label>
    <div class="col-sm-10">
      <input class="form-control" id="meaning" type="text" name="meaning" placeholder="Definition" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="relatedTerms">Relate Terms</label>
    <div class="col-sm-10">
      <input class="form-control" id="relatedTerms" type="text" name="relatedTerms" placeholder="Related Terms" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="url">Links</label>
    <div class="col-sm-10">
      <input class="form-control" id="url" type="url" name="links" placeholder="Links" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>

</form>
{{/inline}}