{{>base_layout}}

{{#*inline "page_title"}}
Added
{{/inline}}

{{#*inline "body"}}
{{#if success}}
<div class="alert alert-info" role="alert">Added</div>
{{>definition_partial}}
{{else}}
<div class="alert alert-danger" role="alert">Not Added</div>
{{/if}}
{{/inline}}