{{>base_layout}}

{{#*inline "page_title"}}
Glossary Home
{{/inline}}

{{#*inline "body"}}
<div class="container">
    <div class="jumbotron">
        <h1>Company Glossary</h1>
        <p>Employee-sourced glossary for your company</p>
        <p><a class="btn btn-primary btn-lg" href="google/login" role="button">Log In</a></p>
    </div>
</div>
{{/inline}}