{{>base_layout}}

{{#*inline "page_title"}}
Search
{{/inline}}

{{#*inline "body"}}
<div class="form-group mx-auto">
    <form method="GET" action="/glossary/search">
        <input class="form-control w-full h-16 px-3 px-8" autofocus="autofocus" type="search" name="q"
            placeholder="Search" />
    </form>
</div>

<div class="font-sans">
    {{#if query}}
    <div class="lg:ml-auto">
        <b>Results for "{{ query }}":</b>
    </div>
    <ul>
        {{#if definitions}}
        {{#each definitions}}
        {{>definition_summary_partial this}}
        {{/each}}
        {{else}}
        <div class="alert alert-info mt-8"><b>No results found</b></div>
        {{/if}}
    </ul>
    {{/if}}
    {{/inline}}
</div>