{{>base_layout}}

{{#*inline "page_title"}}
{{#if id}}
Definition of {{ term }}
{{else}}
Not found
{{/if}}
{{/inline}}

{{#*inline "body"}}
{{#if id}}
{{>definition_partial}}
{{else}}
<div class="alert alert-danger" role="alert"><b>Definition not found</b></div>
{{/if}}
{{/inline}}